Flask.1
Flask-Assets
Flask-Login
Flask-SQLAlchemy
Flask-Script
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
argparse
behave
cssmin
gevent
greenlet
gunicorn
itsdangerous
jsmin
mysql-connector-python
parse
pymongo
pyparsing
webassets
wsgiref
