/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.todo {
    font-weight:bold;
    font-size:1.5em;
}
.todo .content {
    font-size:1em;
    word-wrap:break-word;
    white-space:pre-wrap;
}
.stack {
    border-style:solid;
}

.stack:not(.trash) {
    border-color:#357ebd;
    border-top-style:none;
    border-top-style:none;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.stack:not(.trash) .todo:nth-child(1) .content{
	font-size: 1.5em;
}
.trash.stack {
    border-color:#ac2925;
    border-bottom-style:none;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.todo:first-child, .todo:last-child {
    border-radius:0px;
}

.todo .priority {
	float:right;
}

.stack:not(.trash) .todo:nth-child(even) {
    color:#3a87ad;
    background-color:#d9edf7;
}
.stack.trash .todo:nth-child(even) {
    color:#eea236;
    background-color:#f4ef8f;
}

.stack.trash .todo .content{text-decoration: line-through;}


.trash.control {
	position:relative;
	z-index:2;
	top:15px;
}

#trash_expand_collapse_btn {
	display:block;
	width:100px;
	margin:auto;
}
