body {
  padding-top: 70px;
  padding-bottom: 20px;
}
.todo .content {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  display: inline-block;
}
.stack-ui-container {
  border-left-style: solid;
  border-right-style: solid;
  border-left-width: 3px;
  border-right-width: 3px;
}
.trash.stack .sort.icon {
  display: none !important;
}
.trash.stack .delete.icon {
  display: none !important;
}
.trash.stack .todo .stack-ui-container {
  border-color: #f0ad4e;
}
.trash.stack .todo:nth-child(even) :nth-child(even) {
  background-color: #fceedb;
}
.stack:not(.trash) .todo .stack-ui-container {
  border-color: #428bca;
}
.stack:not(.trash) .todo:nth-child(even) .stack-ui-container {
  background-color: #b9d4ec;
}
.stack:not(.trash) .todo .delete,
.stack:not(.trash) .todo .sort {
  display: none;
}
.stack:not(.trash) .todo:hover .delete,
.stack:not(.trash) .todo:hover .sort {
  display: block;
}
.stack-ui-top {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #f0ad4e;
}
.stack-ui-bottom {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #428bca;
}
#content-input {
  border-color: #999C8C;
}
