{% extends "layout.html" %}
{% block body %}
<div  class="row">
    <div class="btn-group pull-right">
        <button class="btn btn-info sort control">Sort</button>
        <button class="btn btn-warning pop control">Pop</button>
        <button class="btn btn-danger delete control">Delete</button>
    </div>
</div>
<div  class="row">
    <div class="stack-container">
        <div class="trash control text-center">
            <div class="btn-group">
                <div id="trash_expand_collapse_btn" class="btn btn-success"></div>
                <div class="btn control clean trash btn-warning">Clean Trash<span class="glyphicon glyphicon-trash"></span></div>
            </div>
        </div>
        <div class="stack trash sortable">
        </div>
        <div class="container">
            <div id="content-input" class="col-lg-10 col-md-10 col-sm-10 col-xs-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <div class="form">
                    <div class="input-group input-group-lg">
                        <span class="input-group-btn">
                            <button class="btn btn-success control append"/>Append</button>
                        </span>
                        <input type="text" placeholder="Todo descirption" name="item" class="form-control" id="control-todo-content">
                        <span class="input-group-btn">
                            <button class="btn btn-success control push"/>Push</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="stack sortable">
        </div>
    </div>
</div>
<script id="todo_template" type="text/template"">
<div class="todo container" data-todo-priority="<%= todo.priority %>" data-todo-order="<%= todo.order %>" data-todo-id="<%= todo.id %>">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
        <span class="sort icon btn glyphicon glyphicon-sort pull-right"></span>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 stack-ui-container">
        <span class="priority pull-left btn"><%= todo.priority %></span>
        <span class="content"><%- todo.content %></span>
        <% _.each(todo.tags, function(tag) { %>  <a class="badge" href="/tag/<%- tag %>"><%- tag %></a> <% }); %>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-4">
        <span class="delete icon btn glyphicon glyphicon-remove-circle pull-left"></span>
    </div>
    
</div>
{% endblock %}
{% block extra_script %}
    {% for todo in stack %}
    handleCommands([{"command": "append", "data":{{ todo|todo2json|safe }} }]);
    {% endfor %}
    {% for todo in trash_stack %}
    handleCommands([{"command": "append_trash", "data":{{ todo|todo2json|safe }} }]);
    {% endfor %}
{% endblock %}
