{% extends "layout.html" %}
{% block body %}
<div class="row" ng-controller="AppController">
    <div class="stack-container">
        <div class="trash control text-center">
            <div class="btn-group">
                <div id="trash_expand_collapse_btn" class="btn btn-success" ng-click="toggleExpandTrash()">{[ getExpandTrashText() ]}</div>
                <button class="btn btn-danger pop control" ng-click="pop()">Pop</button>
                <div class="btn control clean trash btn-warning" ng-click="clean_trash()">Clean Trash</span></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="stack-ui-container stack-ui-top col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="stack trash sortable">
            <div ng-repeat="todo in stack | is_in_trash : true | expand: expandTrashStack" class="todo container" data-todo-priority="{[ todo.priority ]}" data-todo-order="{[ todo.order ]}" data-todo-id="{[ todo.id ]}">
                <div ng-include="'{{ url_for('static', filename='html/todo_view.html') }}'"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div id="content-input" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="form">
                    <div class="input-group input-group-lg">
                        <span class="input-group-btn">
                            <button class="btn btn-success control append" ng-click="append()">Append</button>
                        </span>
                        <input type="text" placeholder="Todo descirption" name="item" class="form-control" id="control-todo-content" ng-keypress="content_keypress($event)" ng-model="new_todo_content">
                        <span class="input-group-btn">
                            <button class="btn btn-success control push" ng-click="push()">Push</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="stack sortable">
            <div ng-repeat="todo in stack | is_in_trash: false | orderBy: 'order' | reverse :true" class="todo container" data-todo-priority="{[ todo.priority ]}" data-todo-order="{[ todo.order ]}" data-todo-id="{[ todo.id ]}">
                <div ng-include="'{{ url_for('static', filename='html/todo_view.html') }}'"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="stack-ui-container stack-ui-bottom col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>
</div>
<div id="tomatoesModal" class="modal fade" ng-controller="Tomatoes">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Tomatoes Clock</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div style="font-size: 12em;">{[ get_remain_time() ]}</div>
                    <button class="btn {[ get_trigger_style() ]}" ng-click="trigger()">{[ get_trigger_text() ]}</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block extra_script %}
$(function() {
var controller = angular.element($("[ng-controller=AppController]")).scope();
{% for todo in stack %}
controller.push({{ todo|todo2json|safe }});
{% endfor %}
controller.$apply();
});
{% endblock %}
