{% extends "layout.html" %}
{% block body %}
<div class="col-md-10 col-md-offset-1">
            <h1>
                <span>{{ stack.name }}</span>
                <a href="/stack/{{ stack.name }}/delete" class="glyphicon glyphicon-trash"></a>
                {% if (trash_stack.name != stack.name) %}
                <div class="btn-group pull-right">
                    <button class="btn btn-info sort control">Sort</button>
                    <button class="btn btn-warning pop control">Pop</button>
                    <button class="btn btn-danger delete control">Delete</button>
                </div>
                {% endif %}
            </h1>
            <div class="list-group stack-container">
                {% if (trash_stack.name != stack.name) %}
                <div class="trash control">
                    <div id="trash_expand_collapse_btn" class="btn btn-success"></div>
                </div>
                <div class="stack trash sortable">
                    {% for todo in trash_stack.getItems() %}
                    <div class="list-group-item todo container" data-todo-priority="{{ todo.priority }}" data-todo-order="{{ todo.order }}" data-todo-id="{{ todo.id }}">
                        <div class="glyphicon glyphicon-sort sort icon pull-left"></div>
                        <div class="priority pull-left btn">{{ todo.priority }}</div>
                        <div class="content pull-left">{{ todo.content }}</div>
                        <div class="delete btn btn-danger pull-right">Delete</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form">
                            <div class="input-group input-group-lg">
                                <input type="text" placeholder="Todo descirption" name="item" class="form-control" id="control-todo-content">
                                <span class="input-group-btn">
                                    <button class="btn btn-success control push"/>Push</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="stack sortable">
                    {% for todo in stack.getItems(True) %}
                    <div class="list-group-item todo container" data-todo-priority="{{ todo.priority }}" data-todo-order="{{ todo.order }}" data-todo-id="{{ todo.id }}">
                        <div class="glyphicon glyphicon-sort sort icon pull-left"></div>
                        <div class="priority pull-left btn">{{ todo.priority }}</div>
                        <div class="content pull-left">{{ todo.content }}</div>
                        <div class="delete btn btn-danger pull-right">Delete</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
<script>
    window.stackName = "{{ stack.name }}";
</script>
{% endblock %}
