{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <h1 class="text-center">Create your account is Free</h1>
        <ul class="list-group text-center">
            <li class="list-group-item"><a class="btn btn-primary btn-lg" href="{{ url_for('login_facebook') }}">Sign in with Facebook</a></li>
        </ul>
    </div>
</div>
<div class="row" ng-controller="DemoController">
    <div class="stack-container">
        <div class="trash control text-center">
            <div class="btn-group">
                <div id="trash_expand_collapse_btn" class="btn btn-success" ng-click="toggleExpandTrash()">{[ getExpandTrashText() ]}</div>
                <button class="btn btn-danger pop control" ng-click="pop()">Pop</button>
                <div class="btn control clean trash btn-warning" ng-click="clean_trash()">Clean Trash</div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="stack-ui-container stack-ui-top col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="stack trash sortable">
            <div ng-repeat="todo in trash_stack | expand: expandTrashStack" class="todo container" data-todo-priority="{[ todo.priority ]}" data-todo-order="{[ todo.order ]}" data-todo-id="{[ todo.id ]}">
                <div ng-include="'{{ url_for('static', filename='html/todo_view.html') }}'"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div id="content-input" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="form">
                    <div class="input-group input-group-lg">
                        <span class="input-group-btn">
                            <button class="btn btn-success control append" ng-click="append()">Append</button>
                        </span>
                        <input type="text" placeholder="Todo descirption" name="item" class="form-control" id="control-todo-content" ng-keypress="content_keypress($event)" ng-model="new_todo_content">
                        <span class="input-group-btn">
                            <button class="btn btn-success control push" ng-click="push()">Push</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div class="stack sortable">
            <div ng-repeat="todo in stack | orderBy: 'order' : true" class="todo container" data-todo-priority="{[ todo.priority ]}" data-todo-order="{[ todo.order ]}" data-todo-id="{[ todo.id ]}">
                <div ng-include="'{{ url_for('static', filename='html/todo_view.html') }}'"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="stack-ui-container stack-ui-bottom col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>
</div>
<script>
// tipewriter by roXon //

</script>
{% endblock %}
